{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DAAWAT</title>
  <!-- core:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">

  <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/style/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

</head>

<body>
  <div class="main-wrapper">

    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar">
      <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
          DAAWAT
        </a>
        <div class="sidebar-toggler not-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="sidebar-body">
        {% include "nav.html" %}
      </div>
    </nav>

    <div class="page-wrapper">

      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar">
        <a href="#" class="sidebar-toggler">
          <i data-feather="menu"></i>
        </a>
        <div class="navbar-content">
        </div>
      </nav>
      <!-- partial -->

      <div class="page-content">
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Sale History</h6>
                <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">FROM</label><br>
                      <input type="date" name="from" autocomplete="off" class="form-control" required=""
                        style="font-size: 18px; font-weight: bold;">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">TO</label><br>
                      <input type="date" name="to" autocomplete="off" class="form-control" required=""
                        style="font-size: 18px; font-weight: bold;">
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="control-label">ORDER TYPE</label><br>
                      <select name="order_type" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" required>
                        <option value="ALL" selected>ALL</option>
                        <option value="RESTAURANT">RESTAURANT</option>
                        <option value="SWIGGY">SWIGGY</option>
                        <option value="ZOMATO">ZOMATO</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="control-label">REPORT TYPE</label><br>
                      <select name="view_type" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" required>
                        <option value="BILLS" selected>BILLS</option>
                        <option value="ORDERS">ORDERS</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="control-label">PAYMENT TYPE</label><br>
                      <select name="payment_type" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" required>
                        <option value="ALL" selected>ALL</option>
                        <option value="CASH">CASH</option>
                        <option value="UPI">UPI</option>
                        <option value="ATM">ATM</option>
                        <option value="Non Paid">Non Paid</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label class="control-label" style="color: #0f1531;">SEARCH</label><br>
                      <button type="submit" class="btn btn-success submit">SEARCH</button>
                      </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                    <div class="form-group">

                      <button type="submit" class="btn btn-warning submit" formaction="{% url 'csv_report' %}">DOWNLOAD REPORT</button>
                    </div>
                    </div>
                  </div>
                </div>
              </form>
                <h2>&nbsp;</h2>
                <div class="table-responsive">
                  <table id="dataTableExample" class="table">
                    <thead>
                      <tr>
                        <th>INVOICE NO.</th>
                        <th>DATE</th>
                        <th>TIME</th>
                        <th>SUB TOTAL</th>
                        <th>DISCOUNT</th>
                        <th>C.G.S.T @2.5%</th>
                        <th>S.G.S.T @2.5%</th>
                        <th>NET AMT.</th>
                        <th>AMOUNT DUE</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for invoice in bills %}
                      <tr>
                        <td>{{invoice.ref_no}}</a></td>
                        <td>{{invoice.generated_at|date:"d/m/Y"}}</td>
                        <td>{{invoice.generated_at | time:"h:i A"}}</td>
                        <td>{{invoice.sub_total | floatformat:2}}</td>
                        <td>{{invoice.discount | floatformat:2}}</td>
                        <td>₹{{invoice.cgst | floatformat:2}}</td>
                        <td>₹{{invoice.sgst | floatformat:2}}</td>
                        <td>₹{{invoice.amount | floatformat:2}}</td>
                        <td>₹{{invoice.amount_due | floatformat:2}}</td>
                        <td><a class=" btn btn-outline-success" href="{% url 'invoice' invoice.id %}">
                            GENERATE BILL
                          </a></td>
                        </td>
                        <td><a class=" btn btn-outline-success" href="{% url 'bill_form' %}?bill_id={{invoice.id}}">
                            Edit Bill
                            </a></td>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>
                 <h4>&nbsp;&nbsp;Avg Bill: {{avg}}</h4>
                  <h4>&nbsp;&nbsp;Sale: {{total_sale}}</h4>
              </div>

        </div>
        </div>
        </div>
        </div>

      </div>

      <!-- partial:../../partials/_footer.html -->
       <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
                <p class="text-muted text-center text-md-left">&copy; 2020 DAAWAT</a></p>
                <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Designed & Developed By : <a href="http://strix.co.in/"> Strix</a></p>
            </footer>
      <!-- partial -->

    </div>
  </div>
  <script src="{% static 'assets/vendors/core/core.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <script src="https://unpkg.com/currency.js@~1.2.0/dist/currency.min.js"></script>
  <script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
  <script src="{% static 'assets/js/template.js' %}"></script>
</body>

</html>